.main-nav {
  position: relative;

  @include tablet-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__wrapper {
  @include phone {
    @include wrapper;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__list {
  display: block;
  font-family: $oswald;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: $white;
  width: 100%;

  &--hide {
    display: none;
  }

  @include tablet-desktop {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
  }

  @include tablet {
    margin-top: 42px;
    margin-right: 30px;
  }

  @include desktop {
    margin-top: 69px;
  }

  &--index::before {
    @include desktop {
      content: "";
      position: absolute;
      min-width: 720px;
      height: 696px;
      background-color: $basic-green;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      top: -69px;
      right: -110px;

      @include retina {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.main-nav__item {
  list-style: none;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid $border-grey;

  @include tablet-desktop {
    border: none;
    padding-right: 35px;
  }

  &:last-of-type {
    padding: 0;
  }
}

.main-nav__item:last-child {
  border-bottom: 1px solid $border-grey;

  @include tablet-desktop {
    border: none;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $black;
  display: block;
  line-height: 65px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet-desktop {
    font-weight: 400;
    padding-bottom: 8px;
  }

  @include tablet {
    font-size: 18px;
    line-height: 24px;
  }

  @include desktop {
    line-height: 30px;
  }

  &--active {
    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }

    @include tablet-desktop {
      border-bottom: 2px solid $basic-green;
    }
  }

  &--index {
    @include desktop {
      color: $white;
    }
  }

  &--index-active {
    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }

    @include tablet {
      border-bottom: 2px solid $basic-green;
    }

    @include desktop {
      color: $white;
      border-bottom: 2px solid $white;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 21px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  background-image: url("../img/icon-close.svg");

  &--close {
    background-image: url("../img/icon-mobile-menu.svg");
    top: 23px;
    right: 21px;
  }

  @include tablet-desktop {
    display: none;
  }
}
