.additional-goods {
  &__wrapper {
    @include wrapper;
  }

  &__title {
    font-family: $oswald;
    color: $black;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    padding-top: 28px;
    padding-bottom: 35px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    border-top: 1px solid $special-grey;
    padding-bottom: 18px;

    &:last-of-type {
      border-bottom: 1px solid $special-grey;
    }

    &-title {
      text-transform: uppercase;
      font-family: $oswald;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: $special-dark-grey-2;
      margin: 0;
      padding: 0;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    &-table {
      line-height: 14px;
      padding-bottom: 15px;
    }
  }

  &__text {
    position: relative;
    color: $white;
    font-size: 16px;
    line-height: 20px;
    padding-top: 186px;
    padding-bottom: 78px;
    padding-left: 58px;
    padding-right: 61px;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 280px;
      height: 289px;
      z-index: -1;
      background-color: $basic-green;
      background-image: url("../img/gift-photo-mobile@1x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__button {
    @include button;
  }
}
