.catalog {
  &__title {
    @include main-title;
  }

  &__wrapper {
    @include wrapper;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    border-top: 1px solid $special-grey-2;
    padding-bottom: 25px;

    &:last-of-type {
      border-bottom: 1px solid $special-grey-2;
    }

    &-title {
      text-transform: uppercase;
      font-family: $oswald;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $special-dark-grey-2;
    }

    &-table {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__special-title {
    font-size: 16px;
    line-height: 20px;
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 21px;
  }

  &__button {
    @include button;

    &--special {
      @include button(catalog);
    }
  }
}
