.example {
  background-color: $background-grey;

  @include tablet {
    background: linear-gradient(to bottom, $white 57%, $background-grey 57%);
  }

  @include desktop {
    background: linear-gradient(to bottom, $white 30%, $background-grey 30%);
  }
}

.example__wrapper {
  @include wrapper;
}

.example__title {
  @include main-title;

  @include tablet {
    margin-top: 16px;
  }

  @include desktop {
    padding-top: 41px;
  }
}

.example__text {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-right: 10px;

  @include not-phone {
    font-size: 16px;
    line-height: 24px;
  }

  @include tablet {
    margin-top: 31px;
  }

  @include desktop {
    width: 463px;
    margin-top: 114px;
  }
}

.example__stats {
  @include tablet {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
  }
}

.example__list {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;

  @include not-phone {
    width: 366px;
  }

  @include tablet {
    margin-bottom: 50px;
  }

  @include desktop {
    margin-bottom: 55px;
    margin-top: 67px;
  }
}

.example__item {
  position: relative;
  width: 124px;
  height: 56px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid $special-grey;
  box-sizing: border-box;
  border-radius: 3px;

  @include not-phone {
    width: 162px;
    height: 72px;
  }
}

.example__number {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-top: 13px;
  padding-bottom: 18px;
  text-transform: uppercase;

  @include not-phone {
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.example__description {
  position: absolute;
  left: 18px;
  top: 42px;
  width: 79px;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  padding-right: 4px;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  line-height: 12px;
  background-color: $background-grey;

  @include tablet {
    background-color: $white;
  }

  @include not-phone {
    font-size: 14px;
    line-height: 14px;
    width: 127px;
    height: 27px;
    top: 58px;
    left: 14px;
  }
}

.example__cost {
  display: flex;
  flex-direction: row;
  padding-top: 21px;
  justify-content: center;

  @include tablet {
    flex-direction: column;
    justify-content: start;
    top: 0;
    padding: 0;
    margin: 0;
    margin-top: 36px;
  }

  @include desktop {
    justify-content: start;
    padding: 0;
    padding-top: 2px;
  }
}

.example__cost-text {
  font-family: $oswald;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  &:first-child {
    margin-right: 5px;

    @include tablet {
      margin-bottom: 9px;
    }

    @include desktop {
      padding-right: 63px;
      padding-bottom: 78px;
    }
  }

  @include not-phone {
    font-size: 20px;
  }

  @include tablet {
    padding: 0;
    margin: 0;
    text-align: right;
  }
}

.example__sliders {
  @include tablet {
    padding-bottom: 29px;
  }

  @include desktop {
    position: absolute;
    top: 1574px;
    right: 71px;
  }
}

.example__slide {
  display: none;

  &--current {
    display: block;
  }
}

.example__image {
  padding-top: 33px;
}

.example__toggles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 34px;
}

.example__toggle {
  border: none;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
