.form {
  @include content-max-width;

  font-family: $oswald;
  font-weight: 400;
}

.form__title {
  @include main-title;
  @include wrapper;

  @include tablet-desktop {
    margin-top: 38px;
    margin-bottom: 22px;
  }

  @include desktop {
    margin-top: 48px;
  }
}

.form__subtitle {
  @include main-title;
  @include wrapper;

  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 27px;
  margin-bottom: 34px;
  background-color: $white;
  display: inline-block;

  &::after {
    @include green-line;
  }

  @include tablet-desktop {
    font-size: 36px;
    line-height: 36px;
  }

  @include tablet {
    padding-left: 38px;
    margin-left: 30px;
    padding-right: 44px;
  }

  @include desktop {
    padding-left: 38px;
    margin-left: 72px;
    padding-right: 40px;
  }
}

.form__text,
.form__item,
.form__input,
.form__input input,
.form__input input::placeholder,
.form__textarea textarea,
.form__textarea textarea::placeholder {
  font-family: $oswald;
  font-weight: 400;
  text-transform: uppercase;
}

.form__input input,
.form__input input::placeholder,
.form__textarea textarea,
.form__textarea textarea::placeholder {
  font-size: 16px;
  line-height: 18px;

  @include tablet-desktop {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__text {
  color: $black;
  padding: 0;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 39px;
  margin-right: 30px;

  @include wrapper;

  @include tablet-desktop {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }

  @include tablet {
    padding-left: 70px;
  }
}

.form__input,
.form__input input::placeholder,
.form__textarea textarea::placeholder {
  color: $special-dark-grey;
}

.form__input {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 45px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;

  @include wrapper;

  @include tablet-desktop {
    font-size: 20px;
    line-height: 30px;
    align-items: center;
  }

  @include tablet {
    padding-left: 70px;
    padding-bottom: 21px;
  }

  @include desktop {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
  }
}

.form__input input {
  position: relative;
  height: 45px;
  min-width: 100px;
  padding-left: 16px;
  padding-right: 40px;
  margin-left: 13px;
  flex-grow: 1;

  @include input-border;

  @include tablet-desktop {
    height: 52px;
    line-height: 52px;
    padding-top: 3px;
  }

  @include tablet {
    margin-right: 37px;
    margin-left: 19px;
  }

  @include desktop {
    margin-left: 20px;
  }
}

.form__icon {
  position: absolute;
  content: "";
  width: 20px;
  right: 34px;
  z-index: 2;

  @include tablet {
    right: 83px;
  }

  @include desktop {
    right: 17px;
  }

  &--email {
    height: 14px;
    top: 26%;
  }

  &--telephone {
    height: 20px;
    top: 22%;
  }
}

.form__input-field:focus + .form__icon,
.form__input-field:active + .form__icon {
  fill: $basic-green;
}

.form__input-field:invalid:not(:placeholder-shown) + .form__icon {
  fill: $status-error;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.form__list--radio {
  @include wrapper;
  padding-top: 20px;
  padding-bottom: 7px;
  margin-top: 9px;
  border-top: 1px solid $border-dark-grey;
  border-bottom: 1px solid $border-dark-grey;

  @include tablet-desktop {
    margin-left: 70px;
    margin-right: 67px;
    border-left: 1px solid $border-dark-grey;
    border-right: 1px solid $border-dark-grey;
  }

  @include tablet {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 49px;
    padding-top: 24px;
    padding-bottom: 11px;
  }

  @include desktop {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 25px;
  }
}

.form__list--checkbox {
  @include wrapper;

  @include tablet {
    margin-top: 23px;
    padding-left: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  @include desktop {
    margin-top: 24px;
    margin-bottom: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.form__item > input {
  position: absolute;
  appearance: none;
  cursor: pointer;
}

.form__item > label {
  position: relative;
  cursor: pointer;
}

.form__item--radio {
  color: $special-dark-grey-2;
  margin-bottom: 13px;
  line-height: 30px;

  @include tablet-desktop {
    font-size: 20px;
    line-height: 40px;
  }
}

.form__item--radio > label {
  padding-left: 45px;

  @include tablet-desktop {
    padding-left: 88px;
  }
}

.form__item--radio > input {
  padding-left: 45px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    border-radius: 50%;
    box-sizing: border-box;

    @include tablet-desktop {
      width: 40px;
      height: 40px;
      left: 22px;
    }
  }

  &:focus,
  &:hover {
    &::before {
      border-color: $border-grey-2;
    }
  }

  &:disabled {
    &::before {
      opacity: 0.3;
    }
  }

  &:checked {
    &::after {
      position: absolute;
      content: "";
      top: 8px;
      left: 8px;
      width: 14px;
      height: 14px;
      background-color: $basic-green;
      border-radius: 50%;
      box-sizing: border-box;

      @include tablet-desktop {
        width: 18px;
        height: 18px;
        top: 11px;
        left: 33px;
      }
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}

.form__item--checkbox {
  color: $black;
  margin-bottom: 14px;
  line-height: 28px;

  @include tablet-desktop {
    font-size: 20px;
    line-height: 30px;
  }

  @include tablet {
    line-height: 42px;
    margin-bottom: 30px;
  }

  @include desktop {
    line-height: 42px;
  }
}

.form__item--checkbox > label {
  padding-left: 45px;

  @include tablet {
    padding-left: 59px;
  }

  @include desktop {
    padding-left: 59px;
  }
}

.form__item--checkbox > input {
  padding-left: 45px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    box-sizing: border-box;

    @include tablet-desktop {
      width: 40px;
      height: 40px;
    }
  }

  &:focus,
  &:hover {
    &::before {
      border-color: $border-grey-2;
    }
  }

  &:disabled {
    &::before {
      opacity: 0.3;
    }
  }

  &:checked {
    &::after {
      position: absolute;
      content: "";
      top: 8px;
      left: 7px;
      width: 18px;
      height: 14px;
      mask-image: url("../img/icon-tick.svg");
      mask-repeat: no-repeat;
      background-color: $basic-green;

      @include tablet-desktop {
        top: 13px;
        left: 11px;
      }
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}

.form__textarea {
  @include wrapper;

  display: flex;

  @include tablet {
    padding-left: 70px;
    padding-right: 67px;
  }

  @include desktop {
    margin-top: 42px;
    margin-bottom: 41px;
  }
}

.form__textarea > textarea {
  width: 100%;
  min-height: 150px;
  padding-left: 15px;
  padding-top: 11px;
  margin-bottom: -3px;
  color: $special-dark-grey;
  font-size: 16px;
  resize: vertical;

  @include input-border;

  @include tablet-desktop {
    font-size: 20px;
    line-height: 30px;
  }

  @include tablet {
    margin-top: 40px;
    margin-bottom: 35px;
    padding-left: 17px;
    padding-top: 10px;
    min-height: 174px;
  }

  @include desktop {
    min-height: 174px;
    padding-left: 17px;
    padding-top: 9px;
  }
}

.form__legend {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  text-align: center;
  margin-bottom: 32px;

  @include tablet-desktop {
    text-align: left;
    font-size: 16px;
  }

  @include tablet {
    margin: 0;
  }

  @include desktop {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.form__button {
  @include button;

  border: none;
  cursor: pointer;
  margin-top: 34px;
  margin-bottom: 21px;

  @include tablet-desktop {
    font-size: 20px;
    height: 52px;
    margin-top: 22px;
  }

  @include desktop {
    margin-top: 19px;
  }
}

.form__container {
  @include wrapper;

  @include tablet-desktop {
    padding-left: 70px;
    display: grid;
    gap: 60px;
  }

  @include tablet {
    grid-template-columns: 282px 1fr;
    align-items: center;
    margin-bottom: 50px;
  }

  @include desktop {
    padding-left: 110px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 62px;
  }
}

.form__wrapper {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-right: 110px;
    margin-left: 110px;
    margin-bottom: 43px;
  }

  &--contacts {
    margin-bottom: -15px;

    @include tablet {
      margin-top: 40px;
      margin-bottom: 19px;
    }

    @include desktop {
      margin-top: 42px;
      margin-bottom: 20px;
    }
  }

  &--main {
    margin-top: 25px;

    @include desktop {
      margin-top: 26px;
      grid-template-rows: 196px;
    }
  }
}
