body {
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $special-dark-grey;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
}

.visually-hidden {
  display: none;
}

[class$="--mobile"] {
  @include phone {
    display: block;
  }

  @include not-phone {
    display: none;
  }
}

[class$="--tablet"] {
  @include phone {
    display: none;
  }

  @include tablet {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

[class$="--desktop"] {
  @include phone {
    display: none;
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: block;
  }
}
