@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 601px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin not-phone {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin main-title {
  font-family: $oswald;
  color: $black;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 25px;

  @include not-phone {
    font-size: 60px;
    line-height: 60px;
  }
}

@mixin wrapper {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include desktop {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@mixin button($type: default) {
  @if $type == default {
    color: $white;
    background-color: $basic-green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background-color: $basic-green-2;
    }

    &:active {
      background-color: $basic-green-2;
      color: $white-opacity;
    }
  }

  @if $type == catalog {
    color: $special-dark-grey;
    background-color: $basic-grey;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @if $type == link {
    color: $black;
    line-height: 57px;
    display: flex;
    align-items: center;
  }

  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin green-line {
  position: absolute;
  content: "";
  width: 140vw;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: $basic-green;
  z-index: -2;
  overflow: hidden;

  @include tablet {
    left: -31px;
  }

  @include desktop {
    top: 63%;
    left: -110px;
  }
}
