.page-header {
  min-width: 320px;
}

.page-header__wrapper {
  @include desktop {
    @include wrapper;
    @include content-max-width;

    box-sizing: border-box;
  }
}

.page-header__logo {
  &--mobile {
    margin-top: 11px;
    margin-bottom: 14px;
  }

  &--tablet {
    margin-top: 24px;
    margin-left: 20px;
  }

  &--desktop {
    margin-top: 53px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
