.programs__wrapper {
  @include wrapper;
}

.programs__list {
  margin: 0;
  padding: 0;


  @include not-phone {
    display: grid;
    gap: 30px;
  }

  @include desktop {
    grid-template-columns: 50% 50%;
    gap: 80px;
    padding-right: 80px;
  }
}

.programs__item {
  position: relative;
  background-color: $basic-grey;
  list-style: none;
  margin-top: 19px;
  padding-left: 20px;
  padding-right: 20px;

  @include not-phone {
    min-height: 372px;
    margin: 0;
    padding: 0;
  }

  @include desktop {
    min-height: 374px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 26px;
    left: 22px;
    border-radius: 50%;
    background-color: $basic-green;

    @include tablet {
      top: 92px;
      right: 62px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    @include desktop {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  &--weight-loss::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 23px;
    left: 22px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include tablet {
      top: 81px;
      right: 92px;
      left: auto;
      height: 192px;
      width: 140px;
    }

    @include desktop {
      top: 41px;
      left: 67px;
      height: 97px;
      width: 70px;
    }
  }

  &--weight-gain::after {
    position: absolute;
    content: "";
    width: 67px;
    height: 28px;
    top: 37px;
    left: 13px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include tablet {
      top: 135px;
      right: 28px;
      left: auto;
      height: 112px;
      width: 268px;
    }

    @include desktop {
      top: 67px;
      left: 33px;
      height: 56px;
      width: 134px;
    }
  }
}

.programs__title {
  @include main-title;
  font-size: 24px;
  line-height: 37px;
  padding-top: 32px;
  padding-bottom: 29px;
  padding-left: 71px;
  text-transform: uppercase;

  @include not-phone {
    font-size: 36px;
    line-height: 33px;
    padding-top: 77px;
    padding-left: 52px;
  }

  @include desktop {
    padding-left: 214px;
    padding-bottom: 77px;
  }
}

.programs__description {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;

  &:last-of-type {
    border-bottom: 1px solid $border-dark-grey;

    @include not-phone {
      border: none;
    }
  }

  @include not-phone {
    font-size: 16px;
    line-height: 24px;
    padding-left: 52px;
    padding-right: 52px;
  }

  @include tablet {
    width: 53%;
  }

  @include desktop {
    width: 82%;
    padding-bottom: 15px;
  }
}

.programs__button {
  @include button(link);
  position: relative;

  font-size: 16px;
  line-height: 16px;
  padding-top: 7px;
  padding-bottom: 9px;

  &:active {
    opacity: 0.5;
  }

  &::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 32px;
    left: 100px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;


    @include tablet {
      left: 185px;
      height: 11px;
    }

    @include desktop {
      left: 188px;
    }
  }

  &:hover,
  &:focus {
    &::after {
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  @include not-phone {
    padding-left: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  @include tablet {
    margin-top: 15px;
  }
}
