
.promo {
  color: $white;
  font-family: $oswald;
  font-weight: 400;
}

.promo__wrapper {
  @include wrapper;
  @include content-max-width;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 305px;
    z-index: -1;
    background-color: $basic-green;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet-desktop {
      display: none;
    }
  }
}

.promo__title {
  @include main-title;
  line-height: 36px;
  color: $white;
  text-align: center;

  @include tablet-desktop {
    color: $black;
    max-width: 415px;
    text-align: left;
    padding-left: 87px;
  }

  @include tablet {
    margin-top: 38px;
  }

  @include desktop {
    margin-top: 84px;
    padding-left: 81px;
  }
}

.promo__text {
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @include tablet-desktop {
    color: $black;
    text-align: left;
    padding-left: 87px;
    font-size: 20px;
    line-height: 20px;
  }

  @include tablet {
    margin-top: 15px;
  }

  @include desktop {
    padding-left: 81px;
    padding-top: 15px;
  }
}

.promo__image {
  @include tablet-desktop {
    z-index: -1;
    position: absolute;
    content: "";
    height: 150px;
    width: 150px;
    text-align: left;
    padding-left: 87px;
  }

  @include tablet {
    min-height: 609px;
    min-width: 709px;
    padding-left: 0;
    padding-top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include desktop {
    min-height: 500px;
    min-width: 550px;
    top: -55px;
    right: 0;
    left: 473px;
  }

  &--mobile {
    margin: auto;
    margin-top: 29px;
  }
}

.promo__button {
  @include button;
  margin-top: 3px;

  @include tablet-desktop {
    margin-top: 49px;
    margin-bottom: 526px;
    margin-left: 82px;
    width: 244px;
    height: 54px;
    font-size: 20px;
  }

  @include desktop {
    margin-top: 52px;
    margin-bottom: 267px;
    margin-left: 81px;
  }
}
