// fonts

$arial: "Arial", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;

// colors

$white: #ffffff;
$black: #000000;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$background-grey: #eaeaea;
$border-grey: #e6e6e6;
$border-dark-grey: #d9d9d9;
$border-input: #e7e7e7;
$special-grey: #cdcdcd;
$special-grey-2:#ebebeb;
$special-grey-3:#666666;
$special-grey-4: #d3d3d3;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$special-dark-grey-3: #111111;
$white-opacity: rgba(255, 255, 255, 0.3);
$dark-grey-opacity: rgba(68, 68, 68, 0.3);
