@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 601px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 2dppx) {
    @content;
  }
}

@mixin main-title {
  font-family: $oswald;
  color: $black;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 25px;

  @include tablet-desktop {
    font-size: 60px;
    line-height: 60px;
  }
}

@mixin wrapper {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include desktop {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@mixin content-max-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@mixin button($type: default) {
  @if $type == default {
    font-size: 16px;
    color: $white;
    background-color: $basic-green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background-color: $basic-green-2;
      transition: 250ms;
    }

    &:active {
      background-color: $basic-green-2;
      color: $white-opacity;
    }
  }

  @if $type == catalog {
    color: $special-dark-grey;
    background-color: $basic-grey;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @if $type == link {
    color: $black;
    line-height: 57px;
    display: flex;
    align-items: center;
  }

  font-family: $oswald;
  font-weight: 400;
  line-height: 18px;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;

  @include tablet-desktop {
    font-size: 16px;
  }
}

@mixin green-line {
  position: absolute;
  content: "";
  width: 60vw;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: $basic-green;
  z-index: -2;
  overflow: hidden;
  box-shadow: -60vw 0 0 $basic-green, 60vw 0 0 $basic-green;

  @include desktop {
    top: 63%;
  }
}

@mixin input-border {
  border: none;
  box-shadow: 0 0 0 1px $border-input;
  box-sizing: border-box;
  transition: box-shadow 250ms;

  &:hover {
    box-shadow: 0 0 0 1px $special-grey;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 2px $special-dark-grey;
  }

  &:invalid:not(:placeholder-shown) {
    box-shadow: 0 0 0 2px $status-error;
  }
}
